.test-section{
    padding: 60px;
}
.head-1{
    text-align: center;
    color: red;
}
table{
    width: 100%;
    text-align: center;
}
table tr th{
    background-color: #2d3091;
    color: #fff;
}
.footer h6 {
    background-color: #c8544c;
    color: #fff;
}
.table-border tr th,.table-border tr td{
    /* border: 1px solid black; */
    height: 50px;
}
.sidebar
{
    border: 1px solid;
    padding: 13px 71px 3px 47px;
}
@media (max-width: 768px){
   .container {
    width: 100% !important;
    padding: 10px;
   }
}