@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;800&display=swap');
body{
    overflow-x: hidden !important;
    font-family: 'Manrope', sans-serif !important;
}
.padding11{
    padding: 11px;  
}
a{
    text-decoration: none !important;
}
.analoglogo{
    width: 100%;
}
.topfromtop{
    margin-top: 30px;
}
.icon-header,.text-header{
    margin-top: 30px;
}
.text-header{
    color: #DA2128;
    font-weight: 700;
}
.center-align{
    text-align: center;
}
.right-algin{
    text-align: end;
}
.second-part img{
    width: 70%;
    margin-top: 173px;

}
.second-h4{
    color: white;
    font-size: 30px;
}
.register{
    margin-bottom: 160px;
    color: white;
    font-weight: 600;
    background-color: #DA2128;
    padding: 9px 20px 9px 20px  ;
    width: 59%;
    border-radius: 15px;
}
.register h1{
    font-weight: 900;
    font-size: 53px;
}
.register h1 sub{
    font-size: 26px;
    font-weight: 600;
}

.third-part{
    background-color: #DA2128;
    color: white;
    padding: 20px 20px;
}
.third-part h1{
    font-size: 87px;
    font-weight: 600;
    line-height: 75px;
    padding-left: 10px;
}
.third-part h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 18px;
    padding-left: 10px;
}
.third-part h4{
    font-size: 15px;
}
.third-part h2 {
    padding-left: 10px;
    font-size: 25px;
}
.third-part sub{
    font-size: 45px;
}
.fourth-part ,.fifth-part,.seventh-part,.ten-part,.eleven-part,.twelve-part{
    padding: 40px 40px 9px 40px;
}
.fourth-part h1,.fifth-part h1,.eight-part h1{
    font-size: 40px;
    font-weight: 800;
    color: #2E3192;
}
.fourth-part td ,.fifth-part td{
    font-size: 20px;
    font-weight: 600;
}
.color-td {
    color: #2E3192;
}
.fourth-part p ,.seventh-part p{
    font-size: 20px;
    font-weight: 500;
}
.sixth-part h6{
    font-size: 28px;
    font-weight: 400;
}
.seventh-part h1,.ten-part h1,.eleven-part h1{
    color: #DA2128;
    font-size: 40px;
    font-weight: 800;
}
.eight-part{
    background-color: #F5F5F5;
    padding: 40px 40px 9px 40px;
}
.eight-part img{
    width: 100%;
}

.eight-part p{
    font-size: 21px;
    font-weight: 500;
}
.eight-part h3{
    font-weight: 600;
}

.nine-part h1,.sixth-part h1{
    margin-top: 150px;
    font-size: 41px;
    font-weight: 600;
}
.nine-part p{
    font-size: 17px;
    font-weight: 400;
}
.nine-part h6{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 280px;
}
.ten-part{
    background-color: #F5F5F5;
}
.ten-part h6{
    font-weight: 800;
}
.eleven-part{
    background-color: #222D33;
    padding-bottom: 40px;
}
.eleven-part h1{
    color: white;
}
.carousel-control-next-icon,.carousel-control-prev-icon{
    margin-top: 190px;
}
.twelve-part h6{
    color: #DA2128;
    font-weight: 600;
}
.qa,.tnc{
    display: none;
}
#button,#button-2{
    cursor: pointer;
    color: #DA2128;
    font-size: 35px;
    font-weight: 800;
}
.footer{
    background-color: #F5F5F5;
    padding: 40px;
}
.font-sub-1{
    font-size: 30px;
}
/* media screens for desktop  */
@media screen and (min-width:768px) {
    .padding11{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background: white;
    }
    .eight-part h1{
        font-size: 36px;
        text-align: center;
    }
    .wid10{
        width: 12% !important;
    }
    .second-part{
        background-image: url(images/banner.png);
        background-position: top;
        background-size: cover;
    }
    .second-part{
        margin-top: 100px;
    }
    .nodesktop{
        display: none;
    }
    .right-border{
        border-right: 6px solid;
    }
    .video-height{
        height: 370px;
    }
    .sixth-part{
        background-color: #2E3192;
        color: white;
    }
    .nine-part{
        background-image: url(images/award.png);
        background-position: top;
        background-size: cover;
        color: white;
    }
    .nine-2{
        background-image: url(images/award-2.jpg) !important;
    }
    .left-paddding{
        padding-left: 60px !important;
    }
    .carousel-control-next-icon{
        margin-left: 90px !important;
    }
    .carousel-control-prev-icon{
        margin-right: 90px !important;
    }
    .font-sub{
        font-size: 25px;
    }
}

/* media screens for mobile  */
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden !important;
    }
    .second-part{
        background-image: url(images/mobile-banner.jpg);
        background-position: center;
        background-size: cover;
    }
    .second-part img {
        width: 70%;
        margin-top: 159px;
        padding-top: 390px;
    }
    .second-h4{
        font-size: 17px;
    }
    .register h1 {
        font-size: 32px;
    }
    .second-part .col-md-4{
        padding: 40px;
    }
    .register {
        margin-bottom: 10px;
        width: 55%;
        font-size: 12px;
    }
    .register h1 sub {
        font-size: 17px;
    }
    .sixth-part{
        background-image: url(images/mobile-girl.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }
    .sixth-part h6 {
        font-size: 16px;
        font-weight: 400;
    }
    .nine-part{
        background-image: url(images/mobile-award.jpg);
        background-position: center;
        background-size: cover;
        color: white;
    }
    .nine-2{
        background-image: url(images/mobile-award-2.jpg) !important;
    }
    .nine-part h1,.sixth-part h1{
        margin-top: 47px;
        font-size: 26px;
        padding-top: 320px;
        font-weight: 600;
    }
    .nine-part h6 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .nomobile{
        display: none !important;
    }
    #button,#button-2{
        font-size: 18px;
        text-align: center;
    }
    .right-border{
        border-bottom: 1px solid;
        padding: 10px;
    }
    .third-part h1{
        font-size: 9vh;
    }
    #btn-bn {
  
        position: relative !important;
      }
      .font-sub{
        font-size: 17px;
    }
    .fourth-part h1,.fifth-part h1,.eight-part h1{
        font-size: 27px;
    }
    
}
.banner-sec2 form{
    width:380px;
    margin-left: auto;
    background: #fff;
    border-radius: 8px;
    padding:20px;
    margin-top: 50px;
    right: 10px;
    }
    #btn-bn {
      bottom: 0px;
      right: 10px;
      z-index: 1030;
      position: fixed;
    }
    
    .banner-sec2 form p{
    font-size:20px;
    color: #2E3192;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 20px;
    
    }
    .banner-sec2 form input{
        border: 1px solid #DA2128;
        margin-top:10px;
        padding: 5px !important;
        
        }
        .banner-sec2 .btn{
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        background:#DA2128;
        padding:3px 20px;
        border-radius: 5px;
        font-weight: 700;
        text-align:center;
        margin-top: 20px;
        
        }
        
        .banner-sec2 .spam{
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        }